*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}
body{
  
    display: flex;
    font-family: sans-serif;
    background-image: 
    linear-gradient(to bottom , rgba(0, 0, 0, 0.7),rgba(16, 15, 15, 0.784)),
    url('images/backgroundhome.jpg');
    background-attachment:fixed ;
    background-position: center;
    background-repeat: no-repeat;
    color: rgb(223, 178, 151);
    flex-direction: column;
}

    header {
  background-color: rgb(54, 77, 54);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10%
    
}
header h1{
   margin-right: 10%;
    color:  rgba(198, 57, 11, 0.814);
   
}
nav ul
{
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: center;
 
}
 nav ul li{
    text-decoration: none;
    display: flex;
   justify-content: center;
   flex-direction: row;
   align-items: center;
   margin-right: 50px
  
}
 nav ul li a {
display:flex;
color: inherit;
text-decoration: none;
font-weight: 60;
font-size:20px ;
transition:0.5s ;

}
 nav ul li a:hover{
    color: rgba(175, 50, 8, 0.814);
    transform: scale(1.1);

}

.container{
flex: 1;
   display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-left: auto;
}

.wowslider {
    width: 60%;
    margin-right: -200px;
}
.container main{
    flex-basis: 50;
    padding: 130px 50px;
}

.container h1
{
    margin-bottom: 30px;
}

.container p
{
   margin-left: 30px;
   font-size: x-large;
}

  

    h1 {
      text-align: center;
      margin-bottom: 20px;
      color:   rgba(198, 57, 11, 0.814);
    }
    table {
      width: 90%;
      margin: 20px auto;
      border: #000000;
      box-shadow: 0 4px 8px rgba(0,0,0,0.05);
      background-color:  rgb(54, 77, 54);;
      border-radius: 10px;
      margin-left: 30%;
    }
    th, td {
      padding: 14px 18px;
      text-align: left;
    }
    th {
      background: rgba(198, 57, 11, 0.814);
      color: #333;
      font-size: 16px;
    }

    td {
      border-bottom: 1px solid #000000;
    }
    .category {
      font-weight: bold;
      color:  rgba(198, 57, 11, 0.814);
    }

          footer{
   
      width: 100%;
      background-color:rgb(54, 77, 54); 
      font-size: large;
    color:  rgba(198, 57, 11, 0.814);
    background-size: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    padding: 15px 0;
}
footer p{
   height: 35px;
   margin-bottom: 0;
   margin-top: 0%;
   color: rgba(198, 57, 11, 0.814);
      display: flex;
      font-size: large;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
html, body { height: 100%; }
body { min-height: 100vh; margin: 0; display: flex; flex-direction: column; }
.container { flex: 1; width: 90%; margin: 0 auto; }
footer { margin-top: auto; padding: 15px 0; background-color: rgb(54,77,54) !important; }


@media (max-width:1000px){
  .container{
display: none;
}

.wowslider {
  display: none;
}
.container main{
  display: none;
}

.container h1
{
    display: none;
}

.container p
{
  display: none;
}
}




   